.dropdown-tree > ul{overflow-y: auto!important;overflow-x: hidden!important;white-space: nowrap!important; width:100%!important}
.dropdown-tree li{list-style: none!important;}
.dropdown-tree li > i {margin-left: 10px!important;width: 20px!important;height: 20px!important;text-align: center!important;position: relative!important;z-index: 1;font-size: 18px!important;top: 1px!important;}
.dropdown-tree li:hover{ background: #eee!important;}
.dropdown-tree li:hover ul { background: white!important; }
.dropdown-tree li ul { background: white!important; padding-left: 25px;}
.dropdown-tree li:hover ul li:hover { background: #eee!important; } 
.dropdown-tree a{display: inline-block !important;padding: 3px 20px!important;clear: both!important;font-weight: 400!important;line-height: 1.42857143!important;color: #333!important;white-space: nowrap!important;text-decoration: none!important;background:transparent !important; position: relative!important;}
.dropdown-tree .arrow{position: absolute!important;margin-left: -15px!important;top: 50%!important; transform: translateY(-50%)!important;}
/*RTL CSS*/
.rtl-dropdown-tree{direction: rtl !important}
.rtl-dropdown-tree > ul{right: 0 ; left: unset; text-align: right}
.rtl-dropdown-tree .arrow{right: 6px}
.rtl-dropdown-tree li > i {margin-left: 0;margin-right: 10px;}
